@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/*  
    font-family: 'Archivo Black', sans-serif;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background: url("Airpods.jpeg") no-repeat center;
}

.keys {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}



.key {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    height: 80px;
    width: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    text-transform: uppercase;
    transition: all 0.09s ease-in-out;
}

.playing {
    transform: scale(1.1);
    border-color: gold;
    box-shadow: 0 0 10px gold;
}

.key kbd {
    font-size: 35px;
}

.key span {
    color: yellow;
    font-family: 'Archivo Black', sans-serif;
    font-size: 13px;
    margin-top: 5px;
}


@media  screen and (max-width: 769px) {
    .container {
        background-size: 140% 90%;
    }
    .keys {
        flex-direction: column;
        justify-content: space-evenly;
    }    
}
